.ticket-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.ticket-template h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ticket-template button {
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ticket-template .now-showing,
.ticket-template .coming-soon {
    margin-top: 20px;
}

.ticket-template .now-showing h2,
.ticket-template .coming-soon h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.ticket-template .movie-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ticket-template .movie-list li {
    margin-bottom: 10px;
}

.ticket-template .movie-list li a {
    text-decoration: none;
    color: #000;
}

.movie-list li{
    list-style: none;
}

.movie-list .movie-card{
    margin-top: 19px;
    border: #f00 solid 1px;
}

.movie-list .movie-card img{
    margin-top: 19px;
    border: #f00 solid 1px;
}

.movie-details li {
    margin-right: auto;
}

body{
    background-color: #ccc;
}